.postComposer {
    padding: 10px;    
    display: flex;
    background-color: #fff;
}

.postComposer img {
    width: 40px;
    height: 40px;
}

.postContentContainer {
    border-radius: 18px;
    padding: 8px;
    border: 1px solid #ddd;
    flex: 1;
}

.postComposer .postContent {
    height: 22px;
    border: none;
    outline: none;
    width: 100%;
}

.submitPost {
    color: #ccc;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 8px;
    height: 38px;
    padding: 0px 9px;
    outline: none;
    cursor: pointer;
}
