.person {
    background-color: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
}

.person img {
    width: 64px;
    height: 64px;
}

.person .name {
    margin: 0 12px;
}
