<div class="post">
<div class="header">
    <div class="avatar"></div>
    <div class="nameContainer">
        <div class="name"></div>
        <div class="date"></div>
    </div>
</div>
<div class="postContent"></div>
<div class="likesBanner"></div>
<div class="divider"></div>
<div class="actionsBanner">
    <div class="likeButton">Me gusta</div>
    <div class="commentButton">Comentar</div>
</div>
<div class="divider"></div>
<div class="commentList"></div>
<div class="divider"></div>
<div class="commentComposer"></div>
</div>
