
.peopleList .label {
    height: 24px;
    background-color:#fff;
    border-radius: 12px 12px 0 0;
    padding: 9px 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.peopleList {
    padding: 0 9px;
    margin-top: 8px;
}
